# Lab Tutorial 04
### Learning Outcomes 
In this tutorial we will review and practice what we have learned so far and learn new stuff to be able to write a function for permutation testing + calculating p-values for hypothesis testing. <br>
We will be using StudentsPerformance dataset from the second lab tutorial.<br>
Again the dataset can be found in:
https://www.kaggle.com/spscientist/students-performance-in-exams

# Importing packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Load in the dataset

In [3]:
df = pd.read_csv("StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## A contingency table again!
_Question 1 - Create contingency table of ethnicity by gender

In [7]:
ctab = pd.crosstab(df['race/ethnicity'], df['gender'], margins=True)
display(ctab)

gender          female  male   All
race/ethnicity
group A             36    53    89
group B            104    86   190
group C            180   139   319
group D            129   133   262
group E             69    71   140
All                518   482  1000

In [9]:
p_groupA = ctab['All']['group A']/ctab['All']['All']
p_groupA

np.float64(0.089)

Separating two groups in terms of their race: A not A

In [13]:
ctab2 = pd.crosstab(df['race/ethnicity'] == "group A", df['gender'], margins=True)
ctab2

gender          female  male   All
race/ethnicity
False              482   429   911
True                36    53    89
All                518   482  1000

In [16]:
p_groupA = ctab2['All'][True]/ctab2['All']['All']
p_groupA

np.float64(0.089)

In [17]:
p_groupnotA = ctab2['All'][False]/ctab2['All']['All']
p_groupnotA

np.float64(0.911)

# Defining functions again!

## Write a function that takes in a dataframe and a column name and returns the mean and std of that column

In [18]:
def my_function(data, colname):
    mean_col = data[colname].mean()
    std_col = data[colname].std()

    return (mean_col, std_col)

### Use the function to get the mean and std of column "math score"

In [19]:
[m, s] = my_function(df, 'math score')
print(f"the mean is {m}")
print(f"the std is {s}")

the mean is 66.089
the std is 15.16308009600945

## Write a function that takes in a dataframe and calculate the probability of all the races
Useful when you are doing this question _(What we are doing here is more complicated than what you need to do for the question)_ :<br>
Task 1/Question 3 - Define a function that calculates this difference in probability (10pts)

In [33]:
def prob_race(data, nvar = 'race/ethnicity'):
    races = data.groupby(nvar).groups.keys()

    probs = np.zeros((1, len(races)))

    i = 0
    for r in races:
        ctab_tmp = pd.crosstab(df[nvar] == r, df['gender'], margins=True)
        prob_tmp = ctab_tmp['All'][True]/ctab_tmp['All']['All']
        probs[0, i] = prob_tmp
        i += 1

    return probs

In [38]:
P = prob_race(df)
P

array([[0.089, 0.19 , 0.319, 0.262, 0.14 ]])

### Use the funciton to calculate the probabilities

In [39]:
prob_race(df, 'gender')

array([[0.518, 0.482]])

## Write a function that takes the number of rows and columns of a numpy array and returns a numpy array with elements drawn from normal distribution (a random 2D numpy array)
This is just for practicing function. It is not usually the way we use to create a matrix of random numbers <br>
Use __np.random.normal__ : https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html

In [42]:
def rand_array(nrow = 2, ncol = 2):
    out_nump = np.zeros((nrow, ncol))

    for i in np.arange(nrow):
        for j in np.arange(ncol):
            out_nump[i,j] = np.random.normal(0,1) # 0 is the mean and 1 is the std
    
    return out_nump

In [41]:
np.arange(5)

array([0, 1, 2, 3, 4])

### Use the function to create a 3 by 3 array of random numbers

In [53]:
A = rand_array(3,3)

### Print all the entries (with 3 decimal points) with row and col number:
the output should be like:<br>
"The entry on row 1 col 2 is 0.1"

In [56]:
[r, c] = A.shape

for i in np.arange(r):
    for j in np.arange(c):
        print(f"The entry cell on row %d and colum %d is %.3f" %(i, j, A[i,j]))

The entry cell on row 0 and colum 0 is -1.080
The entry cell on row 0 and colum 1 is -0.314
The entry cell on row 0 and colum 2 is 1.291
The entry cell on row 1 and colum 0 is 0.167
The entry cell on row 1 and colum 1 is -0.110
The entry cell on row 1 and colum 2 is 0.631
The entry cell on row 2 and colum 0 is 0.482
The entry cell on row 2 and colum 1 is 0.111
The entry cell on row 2 and colum 2 is 0.893

### Practice more:
https://www.w3resource.com/python-exercises/python-functions-exercises.php

# Problem Description
An increasingly common statistical tool for determining whether a difference is significant is the randomization or permutation test. A randomization test builds - rather than assumes – a distribution of the test statistics. This is achieved by exchanging or permuting variables which are “exchangeable” under the Null-hypothesis. A randomization test gives a simple way to compute the distribution for any test statistic under the null hypothesis that the dependent variable is statistically not dependent of the shuffled variable.<br><br><br>
Assuming that the gender variable is exchangeable, randomly shuffle the dataframe.<br>
The docs that you will need:
* https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.shuffle.html
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html


We want to test the hypothesis that male students are more likely than female students to take test preparation course. Under this hypothesis the p(test|male) should be higher than p(test|female).

## 1. create a copy of the dataframe
you don't want to change the original dataframe cause in each iteration, you want to shuffle the original one.

In [65]:
df_copy = df.copy()
df_copy.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## 2. create an array that represent the indices
as the indices are integers, you can create an array, having the same numbers as the indices in the dataframe and use it as the index!

In [78]:
inds = np.arange(1000)
inds

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935,
       936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948,
       949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961,
       962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974,
       975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987,
       988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999])

## 3. use np.random.shuffle to randomly shuffle indices.
the array that represents the indices will be shuffled.

In [79]:
np.random.shuffle(inds)
print(inds)

[569 658 286 609  98 375 689 792 210 874 224 841 748 137 504 758 324 417
 320 469  52 766 883 154 701 746 636 513 978 141 483 915 413 587 801 237
  41 404 643 975 401 257 855 142 246 940 785 558 783 967 140 887 768 853
 111 303 707  48  40 869 962  57 654 510 221  97  62 298 812 449 903 244
 183 156 663 825 366 329 642 332 179 791 149 361 845 143 214 379 674 633
 101 651 794 780 842 150 590 606 705 993 564 703 828 282 751 374 833 457
 133 909 895 817 334 615 555 509 586   4 943 549 195 387 835 809 408 613
 388 852 382 157  46  85 611 650  21 697 370 458 559 818 146 238 882 204
 676 728 868 155 717 931 715 944  89 682 745 422 169 583 253 202 541 597
 519 398  74 891 346 772 311 393 953 738 295 885 600 344 545 846 108 635
 899 608 938 679 740 511 556 534  29 423 369 313 972  53 207 675  50 959
 380 245  59 546 949 242  14 436 942 849 984 348 259 836 435 151 129 358
 276 297 291 184 240   8 958 974 770   0 261 284 832 409 110 399 983 218
 339 496 460 479 798 316 349 439 360 872 727 234 288 622 920  70 684 574
 800 805 814 579 268 589 881 213 566 485 994 709 136 911 538 381 162 533
 426  73 548 986 861 411 954 400 575 880  78 700 607 918 647 536 252 685
 863 824 913 432 277 203 786 396 228 641 216 619 666 427 493 638 624 820
 610  51 482 673 865 278 468 626 761 326  68 837 665 390 936 888 797 876
 896  76   2 830 850 722  18 980 741 578 450 209 544 644  65 789 233 131
 402 823  87 243 451 890  88 115 389 521 902 512 305 497 547 192 220 862
  79 529 353  23 737 258 710 230 424 235 117  63 478 917 561 919 473 262
 928 910 690 289 731  99 747 121 637 532 826 582 527 248 778 419 594 301
 453  17 971 247 867 161 858 501 498 843 300 272 434 476 403 595 138 645
 576 144  54 617 540 599 906 706 265 802 733 106 199 724 601 445 446 927
 639 721 279 671 466 168 517  19 629   6 489 571  22 227 363 481 612 982
 557 310  82 662  20 543 112 119 989 807 280 437  28  55 572 331 425 711
  39 442 886 407 201  67 211 188 625 726 447  43 443 159 970 459 584 118
 901 304 178 941 839 946 208 999 438 226 857 302 603  75 827 646 336 100
 520 472 875 273 935 153 338 811 856 916 217 759 769 771 767 350 160 104
 518 799 696  64 813 471 260 870 205 293 678   5 197 415 172 318 762 107
 492 914  45 653 550 669 484 126 898 979 580  83 524 551 314 614 657 351
 668  11 854 900 720 263 317 764 623 806 464 507  86 514 328 947 147 907
 585 648 345 955 505 834 528 312 166 961 937 788 912 596 672 879 405 325
 440 976 467 190  66 392 779 593  80 139 736 750 775 702 391 884 787 592
 163 175 904 515 444 803 677 130 394  15 964 290 816 632 732 219 822 490
 734 951 152  25 416 894 383 921 441 486 373 694 757  12 760 562 367 287
 347 255 752 171 686 934 966 652 477 127 605 116 215 232 526   9 897 754
 531 908 998 397 181 418 270   3 200 522  69  60 341 719 491 249 308  32
 516 568 873 335  72  77  30 114 508 229 322  49 167 588 241 539 997 848
 793 377 103 327 776 500 774 968 431 475 730  44 552 414 718 554 356 342
 965  95 506 950 251 364 189 892 120 198 132  93 991 488 773  58 354 714
  37 790 808 553 956 782  42 930 145 691 739 274 815 180 269 384  35 866
 877 723 925 222   1 239 784 692 695 743 266 271 365 421 781 186 462 454
 125 929  16 194 164  36 330 158 122 315 206 542 135 565 333 182 499 753
 292 840 452 860 708 988 455  94 777 829 535 177 193 357 656 923 456 851
 628 352 256  38 631 661  31 123 386 343 838 664 362 428 285   7 250 294
 973 306 742  90 712 948 952 831 296 223 729 634 254 926 487 804 212 176
  26 340 323 461 494 321 309 939 231 523 755 667 977 698 871  27 598 699
 630 465 687 893 620 990 765 985 796 604 905 433 688 463 713 878  24  56
 945 570 735 474 616 495 922 725 281 368 173 225 567 963 649 716 573 995
 655 683 448 560 406  81 420 503 996  91 165 480  96 763 847 128 525 385
 749 819 283 267 337 681 124 113 372 660  33 105 307 395 987 170 670 371
 591 378 924 844  13 191 470 821 102 187 148 889 410 430  47 756 563 502
 957 319 864 299 932 659 810 602 627 621 969 704 236 376  61  71 412 359
 109 693 355 744 264  84 992 429 185 640 859 530 981 960 196 174 618  92
 933 577  34 680 537  10 134 795 275 581]

## 4. shuffle the exchangeable variable
Which variable is exchangeable under the null hypothesis?

In [80]:
tmp = df['gender'].iloc[inds]
tmp

569      male
658    female
286      male
609    female
98     female
        ...
10       male
134      male
795    female
275      male
581    female
Name: gender, Length: 1000, dtype: object

## 5. reorder the shuffled indices. 
You will be putting the shuffled variable back to the dataframe. You want the indices for your dataframe to start from 0 (like the original one). You don't want to use the shuffled indices.<br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.reset_index.html

In [81]:
tmp = tmp.reset_index(drop = True)
tmp

0        male
1      female
2        male
3      female
4      female
        ...
995      male
996      male
997    female
998      male
999    female
Name: gender, Length: 1000, dtype: object

## 6. put the shuffled exchangeable variable back into the copy of the dataframe

In [82]:
df_copy['gender'] = tmp
df_copy.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,male,group B,master's degree,standard,none,90,95,93
3,female,group A,associate's degree,free/reduced,none,47,57,44
4,female,group C,some college,standard,none,76,78,75

## Now compare the original dataframe with the copy you created!

In [83]:
display(df.head())
display(df_copy.head())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,male,group B,master's degree,standard,none,90,95,93
3,female,group A,associate's degree,free/reduced,none,47,57,44
4,female,group C,some college,standard,none,76,78,75

## Check to see if the proportion of each category of the exchangeable variable changed

In [84]:
cTab3 = pd.crosstab(df['test preparation course'], df['gender'], margins = True)
cTab4 = pd.crosstab(df_copy['test preparation course'], df_copy['gender'], margins = True)
display(cTab3)
display(cTab4)

gender                   female  male   All
test preparation course
completed                   184   174   358
none                        334   308   642
All                         518   482  1000

gender                   female  male   All
test preparation course
completed                   190   168   358
none                        328   314   642
All                         518   482  1000

## Another way of shuffling
How about creating a random array of 0s and 1s (0s for males, 1s for females)?<br>
you can create a random array of 0s and 1s using random.randint:<br>
https://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.random.randint.html

### Now check the proportions

## 7. Calculate the stat
After you have created successfully shuffled the exchangeable variable in the dataset, you can calculate the stat.

In [86]:
ctab5 = pd.crosstab(df_copy['test preparation course'] == 'completed', df_copy['gender'], margins = True)
ctab5

gender                   female  male   All
test preparation course
False                       328   314   642
True                        190   168   358
All                         518   482  1000

In [87]:
p_com_fem = ctab5['female'][True]/ctab5['All']['All']
p_com_m = ctab5['male'][True]/ctab5['All']['All']
print(p_com_fem)
print(p_com_m)

0.19
0.168

# All the steps above must be done in a loop (same as bootstrap)
like the bootstrap, you will have to perform the steps above within a loop with a specific number of iterations! You will end up with a stat for each iteration!<br>
Once the loop is done, you can calculate the p-value: 
* __One Sided:__ How many times the calculated stats were bigger than the actual value of the stat, calculated from the original data?/ number of times you have permuted the exchangeable variable.

### What you need to do to calculate the p-value?
The calculations you need to do will be similar to what we will do in this example:<br>
Suppose you have created an array of 1000 random integers between 0 and 100. What is the probability that created integers is higher than 60?

In [89]:
Ex_array = np.random.randint(101, size = 1000)
Ex_array

array([ 67,  76,  26,  36,   2,   4,  38,  96,  22,   5,  69,  73,   8,
        28,  10,  34,  46,  55,  28,  15,  61,  96,  41,  72,  68,  86,
        69,  33,  72,  34,  33,  40,  10,  37,   5,   4,   1,  45,  37,
        78,  60,  79,  16,   7,  93,   3,  64,  88,  94,  84,  65,  64,
        20,  73,  14,  33,  55,   1,   5,  33,  87,  69,  40,   2,  52,
        29,  65,  95,  53,  28,  13,  30,  13,  69,   5,  84,  63,  76,
         0,  83,  46,  74,  42,  15,  82,  12,  95,  45,  71,  93,  21,
        90,  39,  20,  76,  87,  79,  70,  82,  94,   8,  39,  21,  21,
        72,  96,  78,  19,  39,  72,  23,  32,  27,  15,  51,  67,  80,
        48,  85,  73,  59,  54,  54,  11,  87,  28,  11,  65,  20,  46,
        72,  95,  53,  33,  43,  84,  98,  91,  27,  51,  88,  14,   6,
        84,  32,  62,   5,  19,  97,  44,  77, 100,  15,   7,  92,  40,
        61,  65,  34,  81,  83,  70,  85,  39,  55,   3,  10,  46,  30,
        41,  24,  43,  65,  14,  69,  10,  87,  45,  54,   1,  94,   7,
        99,   7,  57,  89,  69,  68,  30,  35,   3,  72,  67,   6,  39,
        22,  18,  88,   2,  43,  56,  76,  32,  85,  43,  21,  74,  42,
        96,  57,  64, 100,  80,  54,  14,  88,  88,  28,  54,  30,  50,
        90,  76,  38,  54,   7,  26,  45,   1,  22,  95,  31,  13,   7,
         0,   8,   2,  72,  25,   8,   5,  73,  97,   4,  90,  54,  23,
        16,  77,  29,  13,  97,  43,  83,   3,  79,  17,  89,  67,  57,
        16,  41,  65,  43,  99,  15,  76,  62,  68,  12,  14,  33,  40,
        37,  15,  11,  40,  44,   9,  77,  99,  32,  21,  81, 100,  13,
        11,  21,  22,  64,  39,  55,  34,  88,   0,  98,  28,  24,  56,
        58,  52,  78,  88,  45, 100,  18,  53,  74,  94,  42,   2,  36,
        76,  72,  67,  51,  64,  34,  83,  39,  33,  87,  20, 100,  42,
        82,  31,  75,   1,  51,  49,  11,  47,  65,  45,  92,   9,   8,
        85,  64, 100,  41,  23,  17,  93,  56,  29,  45,   2,  70,  78,
        19,  97,  70,  87,  44,  33,  50,  30,  40,   5,  33,  33,  99,
        42,  50,  15,  40,  91,  84,  77,   4,  11,   5,  95,  90,  34,
        72,  66,  12,   8,  62,  82,  81,  21,  93,  36,  71,  69,  44,
        16,  67,  28,  50,  96,  62,  37,  75,  58,  21,  45,  59,  83,
       100,  59,   5,  10,   0,  59,  43,  84,  20,  78,  77,   8,  71,
        95,  19,  39,  49,   3,  38,   0,  28,   6,  15,  20,   6,  56,
        27,  84,  83,  45,  31,  57,   4,  71,  88,  76,  13,  68,  34,
        40,  16,  41,  92,  34,  88,  55,  69,  51,  26,  64,  77,  95,
        80,  84,  12,  82,  46,  54,  91,  19,  12,  31,  23,  85,  67,
        80,  14,  57,  43,   4,  27,  67, 100,   1,  60,  52,  56,  73,
        78,  64,  56,  91,  56,  36,  31,  73,  44,  66,  70,  72,  13,
        45,  36,   2,  98,  21,  16,  35,  61, 100,   7,  42,  34,  96,
        41,  69,   4,  36,   9,  17,  68,  72, 100,  92,  70,  54,  72,
        82,  34,  88,  80,  89,  46,  26,  73,  65,  15,  76,  85,  23,
        50,  22,  86,  48,  25,  15,  19,   1,  32,  33,   9,  74,  91,
        60,  41,  36,  68,  68,  21,  96,  38,  14,  30,  69, 100,   7,
        68,  90,   5,  13,   4,  69,   9,  61,  87,  45,  90,  25,  14,
        14,   6,  41,  69,  78,  88,  83,  81,  43,  63,  55,  34,  61,
        27,  10,  67,  46,  15,  13,  37,  97,  84,  86,  36,  56,  21,
        35,  46,  50,  26,  88,  89,  70,  96,  16,  63,  15,  13,  78,
        99,   2,  49,  35,  59,  42,  77,  46,  15,   1,  35,  52,  90,
        24,  20,  24,  95,   4,  26,  47,  53,   4,  66,  32,  39,  50,
        62,  84,  24,  48,  69,  72,  65,  67,  10,  18,  60,  54,  33,
        24,  62,   1,  22,  30,  51,  25,  51,  82,  66,  86,  98,  98,
        39,  71,  78,   5,  42,  51,  34,  85,   8,  94,  78,  28,  66,
         9,  81,  77,   1,  40,  77,  15,  74,  98,  38,  49,  30,  71,
        65,  27,  14,  53,  11,  12,   7,   7,  66,  30,  45,  25,  33,
        15,  38,  36,  89,  44,  83,  36,  44,  36,  20,  31,  98,  79,
         3,  74,   5,   6,  39,  57,   6,  87,  47,  45,  89,  37,  63,
        62,  92,   6,  12,  19,  16,  72,  25,  66,  53,  15,   7,  59,
        60,  89,  10,  44, 100,  10,  46,  74,  66,  52,  29,  86,  82,
         5,  30,  64,  35,   8,   3,  95,  48,   0,  55, 100,   9,  73,
        77,   2,  83,  22,  52,  49,  18,  66,  31,  22,  51,   1,  83,
        68,  59,  54,  45,  86,  23,  33,   9,  30,  18,  56,  67,  11,
        90,  30,  80,  27,  52,  25,  17,  55,  26,  25,  67,  16,   2,
        56,  16,  26,  96,  10,   6,   5,  90,  87,  54,  78,  27,  65,
        97,  36,  58,   9,  14,  10,  59,  21,  90,  99,  72,  92,  74,
         6,  17,  44,  66,  55,  89,  96,  88,  99,  92,  62,  98,   5,
        35,  52,  82,  64,  55,  43,  18,   9,  76,  81,  53,  31,  26,
        10,  40,  20,  47,  97,  46,  48,  40,  51,  45,  36,  84,  37,
        34,  13,   5,  55,  18,  43,  91,   2,  87,  57,  50,  99,  84,
        60,  18, 100,  61,  79,  52,  53,  93,  12,   5,  23,  41,  75,
        55,  20,  50,  48,  87,  20,  66,  38,  93,  22,  27,  65,  93,
        72,  53,  40,  99,  19,  89,  16,  70,  95,  48,  40,  40,  43,
        98,   8,  24,  86,  49,  41,  78,  24,  39,  49,  29,  69,  75,
        32,  49,  64,  72,  33,  42,  60,  97,  34,  84,   9,  24,  47,
        48,  28,  51,  64,  90,  85,   6,  23,  23,  92,  33,  36,  87,
        67,   6,  73,  21,  32,   8,  80,  63,  27,  49,   0,  10,  69,
        41,  79,  10,   2,  68,  53,  85,  52,  70,   8,  47,  29,  76,
        28,  56,  88,   6,  63,  41,  29,  12,  24,  88,  70,  73])

In [ ]:
diff = Ex_array >= 60
diff

ntrues = sum(diff)
p_value = ntrues/len(diff)
p_value